<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602461052979-efq2m5mlp50guocc14s120k8g0fhi8qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602461052979-efq2m5mlp50guocc14s120k8g0fhi8qb</string>
	<key>API_KEY</key>
	<string>AIzaSyDl0xGEXy144D35zVinRgWatp-hThxS0vM</string>
	<key>GCM_SENDER_ID</key>
	<string>602461052979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LukaBaylis.ios-app2</string>
	<key>PROJECT_ID</key>
	<string>ios-app2-7b6af</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-app2-7b6af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602461052979:ios:0fe185d8697d36dada0346</string>
</dict>
</plist>